.App {
  --textColor: #16161D;
  --backgroundColor: #FEFEFA;
  --turtleGreen: #00BD79;
  --dolphinBlue: #00DED1;
  --giraffeYellow: #FFCC5A;
  --tigerRed: #FCB7A8;
  --hippoPurple: #592DB5;
  --lightTurtleGreen: #bfe9db;
  --lightDolphinBlue: #dff2f7;
  --lightGiraffeYellow: #fdeec8;
  --lightTigerRed: #fee9e5;
  --lightHippoPurple: #d5cae9;
  --darkTurtleGreen: #006249;
  --darkDolphinBlue: #017B6D;
  --darkGiraffeYellow: #B98000;
  --darkTigerRed: #992600;
  --darkHippoPurple: #19004E;

  text-align: center;
  background-color: var(--backgroundColor);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
