/* https://mui.com/api/typography/#css */

* {
    /* Color variables */
    --textColor: #16161D;
    --backgroundColor: #FEFEFA;
    --turtleGreen: #00BD79;
    --dolphinBlue: #00DED1;
    --giraffeYellow: #FFCC5A;
    --tigerRed: #FCB7A8;
    --hippoPurple: #592DB5;
    --lightTurtleGreen: #bfe9db;
    --lightDolphinBlue: #dff2f7;
    --lightGiraffeYellow: #fdeec8;
    --lightTigerRed: #fee9e5;
    --lightHippoPurple: #d5cae9;
    --darkTurtleGreen: #006249;
    --darkDolphinBlue: #017B6D;
    --darkGiraffeYellow: #B98000;
    --darkTigerRed: #992600;
    --darkHippoPurple: #19004E;
    
    color: var(--textColor);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--backgroundColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingOnboardingButton {
  background-color: var(--giraffeYellow);
  font-family: 'Sofia Pro Soft Regular';
  letter-spacing: 15%;
  font-size: 13;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  text-transform: uppercase;
}

.responsibleDecisionMakingCategory {
  background-color: var(--turtleGreen);
}

.selfAwarenessCategory {
  background-color: var(--dolphinBlue);
}

.socialAwarenessCategory {
  background-color: var(--giraffeYellow);
}

.relationshipSkillsCategory {
  background-color: var(--tigerRed);
}

.selfManagementCategory {
  background-color: var(--lightHippoPurple);
}

.categoryPageButton {
  border: none;
  font-family: 'Proxima Nova';
  font-size: 14;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #999999;
  color: var(--textColor);
}

.activityPageButton {
  font-family: 'Sofia Pro Soft Regular';
  text-transform: uppercase;
  letter-spacing: 15%;
  font-size: 13;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px #999999;
}

.relationshipSkillsActivity {
  background-color: var(--tigerRed);
  color: var(--darkTigerRed);
}

